@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;

}

a {
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
}

.just {
    background-image: url(https://images.unsplash.com/photo-1475302389077-6ec2b24b95bd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    color: aquamarine;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid 2px black;
    margin: 10px;
}

.just>h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 200px;
    margin: 20px;
}

.just>h3 {
    text-align: center;
    padding-bottom: 200px;
}

.topnav {
    background-color: cadetblue;
}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 25px;
    margin-left: 350px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: red;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #2196F3;
    color: white;
}


.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin: 30px;
    font-size: 17px;
}


@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.class {
    display: flex;
}

.section {
    text-align: justify;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    background-color: lightgray;

}

.depress {
    max-width: 400px;
    margin: 50px;
    border-radius: 8px;
    border: 2px solid black;
    display: block;
}

.section>h1 {
    padding: 10px;
    font-size: 48px;
    text-align: center;
}

.section>h2 {
    font-size: 36px;
    padding: 10px;
    text-align: center;
}

.section>p {
    padding: 10px;
    font-size: 20px;
}

.section>li {
    font-size: 20px;
    padding: 10px;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: cadetblue;
    border: 2px solid black;
}

.causes {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    background-color: lightgrey;
}

.causes>h1 {
    font-size: 48px;
    padding: 10px;
    text-align: center;
}

.causes>p {
    font-size: 20px;
    padding: 20px;
    margin: 10px;

}

.causes>li {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.depression {
    text-align: justify;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    background-color: lightgrey;
}

.depression>h1 {
    padding: 10px;
    font-size: 48px;
    text-align: center;
}

.depression>p {
    padding: 10px;
    font-size: 20px;
}

.depression>li {
    padding: 10px;
    font-size: 20px;
}